extends layout

block styles
	link(rel='stylesheet', href='/css/site.css')
block header
	.main-header.relative
		h1 #{title}
	hr.clear
block content
	.main-container.relative
block footer
block scripts
	script(src='/js/app.js')
	
	
	
	

